*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
}

.background{
    height: max-content;
    background-color: #ebcfc4;
    padding: 0 30px 30 0;
    margin: 0;
    /* background-image: linear-gradient(25deg ,rgb(86, 84, 84),rgb(61,60,60)); */
}

.navBar{
    background-color: #ebcfc4;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: sticky;    
    border-radius: 10px;
}

.linkBackground{
    width: fit-content;
    height: fit-content;
    padding : 10px;
    margin: 10px;
    background-color: #efeeee;
    animation-duration: 20s;
    animation-iteration-count: 1;
    border-radius: 10px;
}
.navLink{
    font-size: larger;
}


.navLink:visited,.navLink:link{
    text-decoration: none;
}

.linkBackground:hover{
    animation-name: flood;
    animation-timing-function: ease;
}

.aboutMeContainer{
    width: 100%;
    height: fit-content;    
    display: flex;
    flex-direction: row;
    padding:20px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: space-evenly;
}

.textContainer{
    width: 50%;
    height: 500px;
    font-size: 32px;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#introHeader{
    transform: translateX(-120%);
    font-size: 62;
    animation-name: appear;
    animation-timing-function:cubic-bezier(0,0,0,1);
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-left: 10PX;
}

#introText{
    font-weight: 600;
    transform: translateX(-120%);
    /* padding: 2em 0; */
    padding-left: 10PX;
    font-size: 32;
    animation-name: appear;
    animation-timing-function:cubic-bezier(0,0,0,1);
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}


.highlightsContainerBackground{
    /* transform: translateX(10px);
    transform: translateY(-10px); */
    width:50%;
    height: 600px;
    background-color: #efeeee;
    border-radius: 20px;
    color: #ebcfc4;
}

.Container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #efeeee;
    border-radius: 20px;
    padding: 10px;
}


.slideBtnLeft{
    color: #efeeee;
    cursor: pointer;
    position: absolute;
    bottom: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s ease;
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    text-align: center;
    padding: 12px;
}


.slideBtnRight{
    right: 0;
    position:absolute;
    margin-right: 10px;
    color: #efeeee;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    bottom: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 50px;
    transition: 1s ease;
    border-radius: 100%;
}

.slideBtnLeft:hover , .slideBtnRight:hover{
    background-color: rgba(0, 0, 0, 0.8);
}



@keyframes hoverShade {
    0% {
        opacity: 50%
    };
    25% {
        opacity: 60%;
    };

    50%{
        opacity: 70%;
    };
    75%{
        opacity: 80%;
    };
    100%{
        opacity: 100%;
    };
}












/* CSS Animations */

@keyframes appear {
    0% {
        transform: translateX(-100%);
        opacity: 0;
        border-left: 1px solid #efeeee
    };
    75%{
        opacity: 0;
        border-left: 5px solid #efeeee
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
        border-left: 10px solid #efeeee
    };
}

@keyframes flood {
    0% {transform:translateX(10)};
    25% {transform:rotateX(50)};
    50% {transform:rotateX(0)};
    75% {transform:rotateX(15)};
    100% {transform:rotateX(20)};
}
